.banner{
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: hotpink;
}
.leftnav{
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(230, 234, 183);
}
.content{
    padding: 20px;
    text-align: center;
    width: 100%; 
    height: 50%;
    background-color: aqua;
}
.rightnav{
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(230, 234, 183);
}