*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 25%;
    padding: 20px;

}
.row::after{
    content: "";
    display: table;   
}
@media screen and (max-width: 1000px){
    .column{
        width: 50%;
    }
}

@media screen and (max-width: 100px){
    .c1{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c2{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c3{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c4{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c5{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c6{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c7{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c8{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c9{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c10{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c11{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c12{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
}

@media screen and (max-width: 1000px){
    .c1{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c2{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c3{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c4{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c5{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c6{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c7{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c8{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c9{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c10{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c11{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
    .c12{
        float: left;
        width: 8.33%;
        padding: 20px;
    
    }
}
@media screen and (max-width: 685px){
    .c1{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c2{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c3{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c4{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c5{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c6{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c7{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c8{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c9{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c10{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c11{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c12{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
}
@media screen and (max-width: 550px){
    .c1{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c2{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c3{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c4{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c5{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c6{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c7{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c8{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c9{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c10{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c11{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
    .c12{
        float: left;
        width: 32.22%;
        padding: 20px;
    
    }
}
@media screen and (max-width: 685px){
    .c1{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c2{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c3{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c4{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c5{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c6{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c7{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c8{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c9{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c10{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c11{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
    .c12{
        float: left;
        width: 16.66%;
        padding: 20px;
    
    }
}
@media screen and (max-width: 490px){
    .c1{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c2{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c3{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c4{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c5{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c6{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c7{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c8{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c9{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c10{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c11{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
    .c12{
        float: left;
        width: 50%;
        padding: 20px;
    
    }
}

