.header {
    background-color: rgb(239, 244, 244);
  }
  .nav {
    background-color: rgb(194, 240, 225);
  }
  .copyright {
    text-align: center;
    background-color: rgb(41, 36, 18);
    color: rgb(247, 247, 247);
  }
  a:link {
    color: red;
    text-decoration: none;
  }
  a:hover {
    color: rgb(105, 108, 255);
  }
  a:active {
    color: blue;
  }
  a.highlight:hover {
    color: crimson;
    font-size: 20px;
  }